.popover{
	width: 100%;
	max-width: 800px;
}
h3{
	text-align: center;
}
.col-md-3{
	margin-top:12px;
}
//*div{
	border:1px solid #333;
	background-color: #f1f1f1;
	border-radius: 5px;
	padding: 16px;
	height: 350px;
}*//
